body{
    background-image:url("Background.jpg");
    text-shadow: 2px 2px 5px grey;

}   


.image{
    float: left;
}

.name{
    margin-left:200px;
    color:grey;
    text-shadow: 2px 2px 5px grey;


}

.profession{
    margin-left:200px;
    color:grey;
    text-shadow: 2px 2px 5px grey;

}

